body {
  background-image: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.listaProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.listaProductos img {
  border-radius: 20px;
  width: 80%;
}

.prod {
  transition: 0.3s;
}

.prod:hover {
  transform: scale(1.3);
}

.btn {
  background-color: #af4c65;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 90px;
  border-radius: 10px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ededed;
  color: black;
}
